@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  font-weight: 400;
}
body{
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
width: 100vw;
background-color: #f5f5f5;
gap: 1rem;
}

.expand_left_img{
display: none;
}
.leftsection1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 22%;
}
.h2div{
  box-sizing: border-box;
  width: 80%;
  display: flex;
  align-items: start;
  justify-content: start;
  margin-left: 2rem;
}
.form{
  width: 100%;
}
.rightsection2{
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
    height: 100%;
    width: 78%;
    position: relative;
   /* background-color: #6c03c0; */
}
.hederitem {
  padding: 0.5rem;
  /* box-shadow: 0px 0px 10px 1px rgb(206, 201, 201); */
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 20rem;
  background-color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 0.5rem;
  border-color:  #f5f5f5;;
  height: 10%;
  width: 100%;

}
.headerleft input {
  border: none;
  outline: none;
  background: transparent;
}
.headerright {
  display: flex;
  gap: 1rem;
}
.btn {
  border: none;
  outline: none;
  background: transparent;
}
.headerleft {
  gap: 0.4em;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
  border: 1px solid #eaecf0;
  opacity: 0.7;
}
.headerleft img {
  margin-left: 0.2rem;
}
.item {
    height: 100%;
    width: 100%;
    background-color: #0a1329;
    color: white;
  box-shadow: 0px 0px 10px 1px #b3b3b3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section {
  width: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 0.1rem;
  transition: 0 1s ease all;
  &:hover {
    background-color: #6c03c0;
    border-radius: 0.4rem;
  }
}
.designsection {
  width: 9rem;
  display: flex;
  align-items: start;
  justify-content: start;
}
.links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}
hr {
  margin-top: -1rem;
  width: 13rem;
  height: 0.1rem;
}
.logoutdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}
label {
  font-size: 1rem;
  font-weight: 400;
  color: #667085;
}
.maindesign {
  /* box-shadow: 0px 0px 10px 1px rgb(206, 201, 201); */
  background-color: white;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  height: 90%;
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.445);
  padding-top: 1rem;


}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  width: 90%;
  height: 90%;
  margin-left: 2rem;
}
.innermaindiv input {
  padding: 0.5rem;
  width: 100%;
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 0.2rem;
  outline-color: #6670856b;
}
.row2div{
    width: 100%;
}
.row2div input{
    padding: 0.5rem;
    width:100%;
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 0.2rem;
    outline-color: #6670856b;
}
input[type="date"] {
  opacity: 0.7; /* Adjust value between 0 and 1 */
}
.row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5rem;
}
.innermaindiv {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 60%;
}
.submitcancel {
width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.submitcancel button {
  padding: 9px 30px;
  border: 1px solid #6c03c0;
  background-color: white;
  color: #6c03c0;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 0.2rem;
  &:hover {
    background-color: #6c03c0;
    color: white;
  }
}
h2 {
  font-weight: 400;
}

/*................................... media quary......................... */

@media screen and (min-width: 601px) and (max-width: 800px) {
  .middlescreenlogo {
    color: #0a1329;
    background-color: #0a1329;
    border-radius: 0.5rem;
  }
  .expand_left_img{
display: none
    }
  .h2div{
    width: 60%;
    margin-left: 0.2rem;
    display: flex;
  }
  .form{
    width: 100%;
  }
  .leftsection1 {
    width: 30%;
  }

  .rightsection2 {
    width: 70%;
  }

  .hederitem {
    gap: 5rem;
  }

  .maindesign {
    width: 100%;
    height: auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0.1rem;
  }

  .innermaindiv {
    width: 80%;
    align-items: flex-start;
    justify-content: center;
  }

  form {
    width: 90%;
  }

  .row {
    gap: 1rem;
  }

  .row2div input,
  .innermaindiv input {
    width: 100%;
  }

  .submitcancel {
    width: 100%;
  }
}

@media(max-width: 600px) {


  body{
      position: relative;
  }
  .h2div{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 0.5rem;
    padding-bottom: 1rem;

  }
  .form{
    width: 100%;
  }

 h2{
  font-size: 1.5rem;
  text-align: center;
  
 }
 label{
    width: 9rem;
    font-size: 1rem;
    font-weight: 300;
    color: #667085;
 }
 .rightsection2{
    height: 100%;
    width: 90%;
    display: flex;
    justify-content:start;
    align-items:start;
    flex-direction: column;
    gap:0.1rem;
    position: relative;
 }
.hederitem{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.1rem;
}
.maindesign {
  width: 100%;
  height: auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}
form{
    display: flex;
    align-items:start;
    justify-content:center;
    /* margin-left: 0.5rem; */
    flex-direction: column;
    gap: 1rem;
    width: 92%;
    height: 92%;
    margin-left:0.5rem;
    
}
.innermaindiv{
    display: flex;
    align-items:start;
    justify-content:center;
    width: 100%;
    flex-direction: row;
}
.row{
    flex-direction: column;
    gap: 0.5rem;
}
.row2div input {
    width: 100%;
  }
  form input{
    width: 100%;
  }
  .row2div{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .headerright{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .submitcancel{
    width: 100%;
    height: 15%;
    font-size: 4rem;
  }
  .submitcancel button{
    padding:0.2rem;
  }

  .expand_left_img{
    display: block;
    position: absolute;
    top: 3%;
    left: -3.5%;
    color: white;
    background-color: #6c03c0;
    border-radius: 50%;
    padding: 0.5%;
    z-index: 12345;
    }
    .leftsection1{
        display: none;
        position: absolute;
      }

    .leftsection1.active{
      display:block;
      width: 100%;
      transition: all 0.4s linear /* Smooth transition */;
      z-index: 1;
      
      }
    .h2div{
      width: 100%;
      margin-left: 0;
      align-items: start;
      justify-content: start;
    }
.headerleft{
  /* background-color: red; */
width: 70%;
}
}
